################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xsaitekpanels/.vs/xsaitekpanels/v14
/xsaitekpanels
